@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Work Sans", sans-serif;
    
}
/* common style */
.all_padding{
    padding: 0px 200px;
}
.display_flex{
    display: flex;
}
.dark_1{
    color: rgba(19, 19, 19, 1);
}
.dark_2{
    color: rgba(66, 66, 66, 1);
}
.dark_3{
    color: rgba(114, 114, 114, 1);
}
.highlight_color{
    color: #FF900E;
}
.back_color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn{
    padding: 20px 25px;
    background-color: #FF900E;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 0.5rem;
}
/* header style */
header{
    max-width: 1440px;
    margin: 0 auto;
}

/* navbar style */
.brand{
    font-weight: bold;
    font-size: 2.8rem;
}
.navbar{
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link{
    gap: 30px;
    list-style: none;
    align-items: center;
}
.nav-link>li>a{
    text-decoration: none;
    font-size: medium;
    font-size: 18px;
}

/* banner styles */
.banner{
    
    margin: 0 auto;
    margin-top: 116px;
}
.banner_content{
    width: 53rem;
    margin: 0 auto;
    text-align: center;
}
.banner_heading{
    font-size: 4rem;
    font-weight: bold;
}
.banner_description{
    margin: 16px 0px;
    font-size: 1rem;
}
.banner_image{
    padding: 50px 200px;
    height: 450px;
    margin: 0 auto;
    border-radius: 0.5rem;
}
.banner_image img{
    width: 100%;
    height: 100%;
}

/* main styles */
#main{
    max-width: 1440px;
    margin: 0 auto;
}
#main>section{
    margin-top: 130px;
    padding: 0px 100px;
}
/* team section styles */
.team_section{
    display: flex;
    gap: 73px;
}
.team_images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team_features{
    padding: 187px 0px;
}
.team_heading{
    font-size: 2.8rem;
    font-weight: 500;
}
.team_description{
    padding: 24px 0px;
    font-size: 16px;
}
/* responsive design */

/* header */
@media screen and (max-width: 576px){
    .navbar, .nav-link{
        flex-direction: column;
    }
    .all_padding{
        padding: 0px;
    }
    .banner_heading, .brand{
        font-size: 1rem;
    }
    .banner_description{
        font-size: 0.5rem;
    }
   .banner_content{
    width: 200px;
   }
    .banner_image{
        padding: 10px 0px;
        height: auto;
        width: 200px;
    }
    .brand{
        text-align: center;
        padding: 10px 0px;
    }
}

/* team section */

@media screen and (max-width: 576px){
    #main>section{
        padding: 0px 20px;
        margin-top: 40px;
    }
    .team_section{
        flex-direction: column;
        text-align: center;
    }
    .team_images {
        grid-template-columns: repeat(1, 1fr);
    }
    .team_features{
        padding: 20px 0px;
    }
}
